<h1>Login</h1>
<form method="POST" action="/login">
	<input type="email" name="email" value="hektorhugo">
	<input type="password" name="password" value="46064606">
	<input type="submit" value="submit">
</form>
